.cu-search-input {
    width: 320px;
    height: 50px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.87);
    padding: 0 10px;
}

.cu-search-input:focus-visible {
    border: 2px solid orange;
    outline: none;
}

.cu-search-input::placeholder{
    color: orange;
    font-size: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Now your own custom styles */
    height: 10px;
    width: 10px;
    cursor: pointer;
    color: black;
    /* Will place small red box on the right of input (positioning carries over) */
}