@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: IRANSans;
  src: url("../fonts/VistaDev.ttf");
}

* {
  font-family: IRANSans, serif;
}


.main-container {
  height: 100vh;

  .right-component {
    display: flex;
    flex-direction: column;
    background-color: #3c4858;

    .btn-section {
      height: 81px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.73);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .wrapper-sidebar {
    background-image: url("https://demos.creative-tim.com/material-dashboard-dark/assets/img/sidebar-2.jpg");
    background-position: center;
    padding: 0;
    color: #fff;

    .sidebar {
      background-color: #1f283e;
      opacity: .94;

      .logo-section {
        border-bottom: 1px solid rgba(255, 255, 255, 0.73);
      }

      ul {
        list-style: none;
        padding: 0 !important;
        text-align: start;
      }

      .root-list li {
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.24);
          outline: none;
        }

        .div-span {
          width: 125px;
        }
      }
    }
  }

}

.div-span {
  width: 125px;
}

#main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
  overflow: auto;
}

@media (max-width: 576px) {
  .main-height {
    height: auto;
  }

  .right-component {
    order: 1 !important;
  }

  .sidebar {
    order: 2 !important;
  }
}